<!-- Use the bottom border of each render to seperate items -->
<div style = "border-bottom: 1px dotted #333; margin:5px;">
	<% if order_item.completed? %>
		<div class="order_item">
			<p style="opacity: 0.4; float:left;"><strike><%= order_item.content %></strike></p>
		</div>
		<% if @order_request.servicer_id == current_user.id %>
		<!-- Maybe we can add an "uncomplete" button here? -->
			<div class="complete" style="text-align:right;">
				<!-- <#%= link_to complete_order_request_order_item_path(@order_request, order_item.id), method: :patch do %> -->
					<button type="button" class="btn btn-success" style="visibility:hidden;"><i class="fa fa-check"></i>
					</button>
				<!-- <#% end %> -->
			</div>
		<% else %>
			<div class="trash" style="text-align:right;">
				<!-- <#%= link_to order_request_order_item_path(@order_request, order_item.id), method: :delete, data: { confirm: "Are you sure?" } do %> -->
					<button type="button" class="btn btn-danger btn-circle" style="visibility:hidden;"><i class="fa fa-trash"></i>
					</button>
				<!-- <#% end %> -->
			</div>
		<% end %>
	<% else %> <!-- else if order_item is not completed -->
		<div class="order_item">
			<p style="float:left;"><%= order_item.content %></p>
		</div>
		<% if @order_request.servicer_id == current_user.id %>
			<div class="complete" style="text-align:right;">
				<%= link_to complete_order_request_order_item_path(@order_request, order_item.id), method: :patch do %>
					<button type="button" class="btn btn-success"><i class="fa fa-check"></i>
					</button>
				<% end %>
			</div>
		<% else %>
			<div class="trash" style="text-align:right;">
				<%= link_to order_request_order_item_path(@order_request, order_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
					<button type="button" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i>
					</button>
				<% end %>
			</div>
		<% end %>
	<% end %>
	<% if order_item.photo.file? %>
		<div>
			<%= link_to image_tag(order_item.photo.url(:small), class: "small_image"), order_item.photo.url(:original) %>
		</div>
		<br>
	<% end %>
</div>
