<% provide(:title, 'All Public Orders') %>
<div class="container">
	<div class="panel-default">
		<h1>All Public Orders</h1>
		<% if @order_requests.blank? %>
			<h3>No orders have been created yet, surprisingly :O</h3>
		<% else %>
			<% @order_requests.each_with_index do |order_request, i| %>
				<!-- map javascript here-->
				<!--******************* -->
				<div class="panel panel-info" style="margin-bottom: 15px;">
					<div class="panel-heading">
						<p>
							<strong><%= i+1 %>.&nbsp;<%= order_request.title %> by
								<%= order_request.owner.username %>
								(<%= number_to_currency(order_request.bounty) %>)</strong>
						</p>
						<p style="font-family: monospace;">
							Created: <%= order_request.created_at %>
							</br>
							Updated: <%= order_request.updated_at %>
							</br>
							Status: <%= order_request.status %>
						</p>
					</div>
					<div class="panel-body">
						<p class="order_request_sub_title"><strong>Description: </strong></p>
						<p>
							<% if order_request.description.blank? %>
								<i>No description given</i>
							<% else %>
								<%= order_request.description %>
							<% end %>
						</p>
						<div style="border: solid 1px #555; padding: 5px; ">
							<p class="order_request_sub_title"><strong>List of Items: </strong></p>
							<% if order_request.order_items.empty? %>
								<i>No order items exist</i>
							<% else%>
								<ol class="order_item">
									<% order_request.order_items.each do |order_item| %>
										<li><%= order_item.content %></li>
										<br>
										<div>
										<% if order_item.photo.file? %>
												<%= link_to image_tag(order_item.photo.url(:small), class: "small_image"), order_item.photo.url(:original) %>
										<% else %>
											<i>No image provided</i>
										<% end %>
										</div>
										<br>
									<% end %>
								</ol>
							<% end %>
						</div>
					</div>
					<div class="panel-footer">
						<div>
							<%= link_to order_requests_hide_path(:id => order_request.id) do%>
							       <button type="button" class="btn btn-danger btn-lg btn-block"style="text-decoration:none;">Hide Order</button>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
<!--  The styling of the page can be found on the application.scss-->
<!--Changed div from input_section to container to give wider view -->
